* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body
{
	background-color: blue;
}
.exist
{
	text-decoration: none;
}
.exist:visited
{
	color: blueviolet;
}
.container
{
	width:90%;
    margin:0px auto;
    
}
.form
{
	width:400px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;
	padding: 20px;
	
}
.format
{
	margin-top:10px;
}
.credentials
{
	margin-top:30px;
}
input{
	border:2px solid black;
	font-size: 16px;
	padding:5px;
}
.form h1
{ 
	text-align: center;
	color: gray;
}
.textbox img
 {

 	width:22px;
	height: 22px;
	float: left;
}

button{
	position: relative;
	margin-top: 10px;
	cursor: pointer;
	width:100%;
	height: 30px;
	margin-bottom: 10px;
}